<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="data.css">
    <title>DATA</title>
</head>
<body>
    <div class="main">
        <h1>HEALTH RECORDS</h1>
    </div>
    <div class="hero-content">
        <h3>Date: <%=newData.dat %></h3>
        <h3>Disease type: <%= newData.type%></h3>
        <h3>Disease name: <%= newData.name %></h3>
        <h3>Medication and treatment: <%=newData.medication %></h3>
        <h3>Remarks: <%=newData.remarks %></h3>
    </div><br>
    <hr>    
</body>
</html>